XTerm*.termName:             xterm-256color
XTerm*cursorBlink:           false
XTerm*metaSendsEscape:       true
XTerm*backarrowKey:          false
XTerm*ttyModes:              erase ^?
XTerm*translations:          #override \n\
Ctrl Shift <Key>C:           copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V:           insert-selection(CLIPBOARD)
xterm*faceName:              Courier Prime
xterm*faceSize:              18
xterm*cursorColor:           #4eb4fe
XTerm*background:            #333333
XTerm*foreground:            #dcdccc
XTerm*color0:                #333333
XTerm*color8:                #333333
XTerm*color1:                #ffa0a0
XTerm*color9:                #ffa0a0
XTerm*color2:                #98fb98
XTerm*color10:               #669900
XTerm*color3:                #f0e68c
XTerm*color11:               #f0e68c
XTerm*color4:                #87ceeb
XTerm*color12:               #87ceeb
XTerm*color5:                #ffa0a0
XTerm*color13:               #ffa0a0
XTerm*color6:                #87ceeb
XTerm*color14:               #87ceeb
XTerm*color7:                #ffffff
XTerm*color15:               #ffffff
